body{
    margin: 0;
    padding: 0;
    background: rgb(26, 76, 105);
    font-family: sans-serif
}
.card-wrapper{
    margin: auto;
    max-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
    flex-wrap: wrap;
}
.card-container{
    width: 312px;
    height: 326px;
    background: rgb(222, 222, 222);
    overflow: hidden;
    transition: all .4s ease-in-out;
}
.card-container:hover{
    box-shadow: 0px 0px 10px whitesmoke;
}
.img-container{
    height: 155px;
    overflow: hidden;
}
.card-container img{
    width: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}
.card-container:hover img{
    scale: 1.05;
}
.card-container h6{
    padding: 8px;
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    height: 26px;
    margin-top: 4px;
    color: rgb(141, 141, 141);
}
.card-container p{
    padding: 0 8px;
    margin: 8px 0px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: 57px;
    color: rgb(12, 12, 12);
}
.card-container a{
    border: 1px solid rgb(222, 222, 222);
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    background: rgb(26, 76, 105);
    margin: 5px 8px;
    border-radius: 2px;
}
.card-container a:hover{
    color: rgb(26, 76, 105);
    background: rgb(222, 222, 222);
    transition: all .4s ease-in-out;
    border: 1px solid rgb(26, 76, 105)
}
.read-more{
    display: flex;
    justify-content: center;
}