div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    color: white;
}
p{
    width: 500px;
}
.hidden{
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(20%);
    filter: blur(5px);
}
.show{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
}
body{
    background: #000;
    margin: 0%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}