body{
    height: 1000px;
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
    position: relative;
}
.sticky_nav{
    width: 95%;
    color: white;
    position: fixed;
    height: 50px;
    background: linear-gradient(180deg , rgb(62, 151, 211) , whitesmoke);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
}
.sticky_nav > div > a{
    text-decoration: none;
    color: white;
    margin-left: 18px;
    transition: all .3s ease-in-out;
}
.sticky_nav > div > a:hover{
    color: rgb(62, 151, 211);
    /* text-shadow: 0 0 20px white; */
}